
body {
    font-family: 'Open Sans', sans-serif;
    
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}


@media (min-width: 992px) { 
    .w-lg-55 {
        width:55%  !important;     
     }
 }


